@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #0b0f1a;
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }
}

body {
  /* Grafana-style deep charcoal */
  background-color: #0b0c10;

  /* Adds a subtle "mesh" grid look common in dashboards */
  background-image:
          linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
          linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 30px 30px;

  color: #d8d9da;
  margin: 0;
  font-family: 'Inter', -apple-system, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}